# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name

# Resend Email Configuration
RESEND_API_KEY=re_your_api_key
RESEND_FROM_EMAIL=info@waterandashburials.org
RESEND_TO_EMAIL=info@waterandashburials.org

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://waterandashburials.org
